.jumbotron {
    background-color: rgb(194, 203, 212);
    text-align: center;
    margin-left: 170px;
    margin-right: 170px;
    padding: 50px;
}

.btn-primary {
    background-color: rgb(25, 0, 255);
    padding: 15px;
    filter: hue-rotate(0.4);
    color: white;
    border: thin;
}

.btn-danger {
    background-color: rgb(255, 0, 0);
    padding: 15px;
    filter: hue-rotate(0.4);
    color: white;
    border: thin;
}

h1 {
    font-size: 40px;
    font-family: 'Kiwi Maru', serif;
}

h2 {
    font-size: 30px;
    font-family: 'Source Sans Pro',  sans-serif;
}

.btn-danger:hover {
    background-color: rgb(136, 4, 4);
}

.btn-primary:hover {
    background-color: rgb(3, 20, 92);
}
